{% extends "layout.html"%}

{% block main %}
    <h2><b>Welcome!</b></h2>
    <p>
        We are a group of students based in Fukuoka, Japan who are working with the local communities of Shiraito no Mori
        in order to build a forest that will hopefully suppress bamboo growth while also providing visitors with an experience of
        the forest's gentleness and biodiversity.
    </p>
    <img src="https://i.ibb.co/BK41CYc/68699-0.jpg" alt="68699-0" border="0" /><img src="https://i.ibb.co/dpQ8MdL/68698-0.jpg" alt="68698-0" border="0" /></a>
{% endblock %}
