{% extends "layout.html"%}

{% block main %}
    <h2><b>Members</b></h2>
    <table class="table">
        <tbody style="background-color:#CBC3E3">
            <tr>
                <th><img src="https://i.ibb.co/Xp1Gwkb/thy.png" alt="thy" border="0" style="width:200px;height:200px;"></th>
                <th><img src="https://i.ibb.co/ZJ8Pbrd/thi.png" alt="thi" border="0" style="width:200px;height:200px;"></th>
                <th><img src="https://i.ibb.co/S6z6t3n/message-Image-1698844439907.jpg" alt="message-Image-1698844439907" border="0" style="width:200px;height:200px;"/></th>
                <th><img src="https://i.ibb.co/6rDh1vQ/message-Image-1698844888114.jpg" alt="message-Image-1698844888114" border="0" style="width:200px;height:200px;"/></th>
            </tr>
            <tr>
                <th>Thy</th>
                <th>Thi</th>
                <th>Marcel</th>
                <th>Catherine</th>
            </tr>
            <tr>
                <td>Strategic Development</td>
                <td>Project Management</td>
                <td>Finance</td>
                <td>Public Relation</td>
            </tr>
        </tbody>
{% endblock %}
