{% extends "layout.html"%}

{% block main %}
    <div>
    <h2><b>Welcome to our first post!</b></h2><br>
    <p >
        Hello everyone! We are international students from Kyushu University, working on a social project for addressing a bamboo overgrowing issue in Shiraito no Mori, Fukuoka, Japan. Currently, we are establishing a food forest in the middle of the bamboo forest to alleviate the bamboo overspreading problem.  The food forest approach is an attractive strategy to not only regulate the invasive bamboo growing the nature but also give revenues to the land owners with low maintenance. Throughout this project, we hope that the findings can benefit the people of Shiraito no Mori as well as the readers who are interested in setting their forest.
    </p>
    <p>
        So, stay tuned! We are also happily open to feedback to improve our project.
    </p>
    </div>
{% endblock %}
